.detail {
  overflow: hidden;
}
.detail .detailContent {
}
.detail .detailContent img {
  width: 100vw;
  height: 4.5rem;
}
.detail .detailContent .detailWord {
  height: 2.5rem;
}
.detail .detailContent .detailWord .detailName {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  font-size: 0.45rem;
}
.detail .detailContent .detailWord .detailPrice {
  margin-top: 0.6rem;
  margin-left: 0.5rem;
  font-size: 0.35rem;
  color: red;
}
.detail .detailContent .detailWord .detailPrice span {
  font-size: 0.3rem;
  margin-left: 0.3rem;
  padding: 0.1rem;
  color: orange;
  border: 1px solid orange;
}
.detail .detailContent .detailWord p {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  font-size: 0.3rem;
  text-decoration: line-through;
}
.detail .arrImg p img {
  width: 100vw;
  height: 8rem;
}
.detail .detailContent footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: white;
  height: 1rem;
  overflow: hidden;
}
.detail .detailContent footer .add {
}
.detail .detailContent footer p {
  float: right;
  padding: 0.35rem 0.25rem;
  font-size: 0.3rem;
  background-color: orange;
  color: white;
  margin-right: -0.15rem;
}
/* .popup-list .am-list-body {
    height: 210px;
    overflow: auto;
  } */

.listTop {
  overflow: hidden;
}
.listTop img {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.1rem;
  margin-left: 0.3rem;
  border-radius: 0.2rem;
}
.listTop span {
  color: black;
  float: left;
  margin-left: 0.2rem;
  margin-top: 0.25rem;
}

.am-modal {
  /* height: 5rem; */
}
.popup-list .specs {
  text-align: left;
  color: black;
  margin-top: 0.1rem;
  margin-left: 0.3rem;
  font-size: 0.25rem;
}
/* .popup-list .capacity {
  text-align: left;
  margin-top: 0.1rem;
  margin-left: 0.3rem;
} */
.popup-list .span {
    display: inline-block;
    height: 0.36rem;
  text-align: left;
  padding: 0.12rem 0.3rem;
  color: black;
  font-size: 0.3rem;
  border: 1px solid orange;
  border-radius: 0.2rem;
  margin-left: 0.3rem;
}
.popup-list .capacity .spanOne {
  margin-left: 0;
}

.am-list-item .am-list-line .am-list-content {
  text-align: center;
  padding: 0;
}
.am-list-item .am-list-line .am-list-content .am-button {
  background-color: orange;
  color: white;
  height: 0.8rem;
  width: 3rem;
  margin-top: 0.1rem;
  font-size: 0.2rem;
  line-height: 0.8rem;
}
